/* Muokataan otsikosta mielekkäämmän näköinen*/
.otsikko {
    background-color: rgb(147, 235, 235);
    color: black;
    padding: 40px 40px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: linear-gradient(to left, #F4F39A, #f3f175, #ecea48);
    margin: 50px 2%;
  }

/* Muokataan kirjoituslaatikkoa mielekkäämmän näköiseksi*/
input {
    margin: 0px;
    border: none;
    border-radius: 15px 0px 0px 15px;
    width: 75%;
    height: 35px;
    padding: 0px;
    float: left;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

/* Muokataan lisää napista mielekkäämmän näköiseksi*/
.lisaaNappi {
    padding: 0px;
    height: 35px;
    width: 25%;
    background: #F4F39A;
    color: black;
    float: left;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 0px 15px 15px 0px;
    font-family: 'Courier New', Courier, monospace;
}

/* Hiiren ollessa lisää napin päällä muuttaa se väriä*/
.lisaaNappi:hover {
    background-color: #f0ed40;
}

/* Muokataan listan asettelua*/
.Lista {
    margin: 10px;
    padding: 10px;
    text-align: left;
}

/* Muokataan listan osien asetusta ja muokataan mielekkäämmäksi*/
ul li {
    list-style: none;
    padding: 12px 8px 12px 40px;
    background: #BAF2D8;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

/* Joka toinen listan osista eri värinen*/
ul li:nth-child(odd) {
    background: #F4F7F9;
}

/* Hiiren ollessa listan osien päällä muuttaa se väriä*/
ul li:hover {
    background: #F4F39A;
}

/* Muokataan sulje painike kellumaan listaosien oikeassa laidassa*/
.sulje {
    float: right;
    border-radius: 15px 15px 15px 15px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

/* Hiiren ollessa sulje painikkeen päällä muuttaa se väriä*/
.sulje:hover {
    background-color: rgb(147, 235, 235);
    color: black;
}

/* Elementit ovat saman levyisiä*/
* {
    box-sizing: border-box;
}

