.otsikko {
    background-color: rgb(147, 235, 235);
    color: black;
    padding: 40px 40px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

input {
    margin: 0px;
    border: none;
    border-radius: 15px 0px 0px 15px;
    width: 75%;
    height: 35px;
    padding: 0px;
    float: left;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.lisaaNappi {
    padding: 0px;
    height: 35px;
    width: 25%;
    background: #F4F39A;
    color: black;
    float: left;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 0px 15px 15px 0px;
    font-family: 'Courier New', Courier, monospace;
}

.lisaaNappi:hover {
    background-color: #f0ed40;
}

.Lista {
    margin: 10px;
    padding: 10px;
    text-align: left;
}

ul li {
    list-style: none;
    padding: 12px 8px 12px 40px;
    background: #BAF2D8;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

ul li:nth-child(odd) {
    background: #F4F7F9;
}

ul li:hover {
    background: #F4F39A;
}


* {
    box-sizing: border-box;
}

